@page "/connectionerror"

<h2 class="ui center aligned header">

  <div class="content">Unable to connect to server</div>
  <div class="sub header">Please check your internet connection and try again.</div>
  
</h2>