@page "/401"
@page "/403"
<div class="ui container">
  <div class="ui error icon message">
    <i class="exclamation circle icon"></i>
    <div class="content">
      <div class="header">
        Unauthorized
      </div>
      <p>
        You do not have permission to go there.
      </p>
    </div>
  </div>
</div>

